#posts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 20px;
}

.post-card {
    background: rgb(40, 40, 40);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    text-align: left;
    box-sizing: border-box;
    height: auto; 
}

.post-card img {
    max-height: 150px; 
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.post-card h2 {
    margin: 10px 0;
    font-size: 18px; 
}

.post-card p {
    font-size: 14px;
    color: #ccc;
    margin: 10px 0;
}

.post-card .meta {
    font-size: 12px;
    color: #888;
}